:root{
    --altbgcolor: grey;
    --color1: black;
    --color2: white;
    color: var(--color2);
    background-color: black;
}

body{
    /* background-color: aliceblue; */
    /* padding-left: 10vw; */
    /* padding-right: 10vw; */
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: var(--altbgcolor);
    border-color: black;
    border-width: 10;
    
    /* outline: auto;
    outline-width: 10;
    outline-color: black; */
}

table{
    /* margin-left: 50%;
    margin-right: 50%; */
    align-self: center;
    min-height: 3vh;
    min-width: 80vw;
    
    /* outline-width: 10cm;
    outline-color: red; */
    /* outline: auto; */
    /* outline-style: dashed;
    outline-color: black; */
}

td{
    background-color: aqua;
    text-align: center;
    width: fill;
    outline: auto;
    outline-color: red;
}

header{
    min-height: 40;
    top: 0;
    background-color: mediumblue;
    text-align: center;
    font-size: 40;
    /* margin: 10; */
    /* padding: 10; */
}

.page{
    margin-left: 1cm;
}

.contents{
    margin-left: 1cm;
}

footer{
    min-height: 40;
    background-color: blue;
    bottom: 0;
    align-self: stretch;
}