:root{
    --altbgcolor: grey;
    --color1: black;
    --color2: white;
    color: var(--color2);
    background-color: black;
}

body{
    /* background-color: aliceblue; */
    /* padding-left: 10vw; */
    /* padding-right: 10vw; */
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: var(--altbgcolor);
    /* border-color: var(--background-color); */
    /* border-width: 10; */
    height: fill;
    width: 80vw;
    
    /* outline: auto;
    outline-width: 10;
    outline-color: black; */
}

table{
    /* margin-left: 50%;
    margin-right: 50%; */
    align-self: center;
    min-height: 3vh;
    min-width: 80vw;
    width: fill;
    position: static;
    margin-right: 10vw;
    
    /* outline-width: 10cm;
    outline-color: red; */
    /* outline: auto; */
    /* outline-style: dashed;
    outline-color: black; */
}

td{
    background-color: aqua;
    text-align: center;
    width: fill;
    outline: auto;
    outline-color: red;
}

header{
    position: static;
    min-height: 40px;
    top: 0;
    background-color: mediumblue;
    text-align: center;
    font-size: 40;
    /* margin: 10; */
    /* padding: 10; */
}

.page{
    /* margin-left: 1cm;
    margin-right: 1cm; */
    position: relative;
    min-height: 100vh;
}

#ProjectListButtons{
    display: grid;
    /* grid-template: auto, auto; */
    grid-template-columns: auto auto auto;
}

#ProjectListButtons img{
    max-height: 200px;
    max-width: 200px;
}

#content{
    padding-bottom: 2.5rem;
    margin-left: 1cm;
    margin-right: 1cm;
}

footer{
    position: absolute;
    /* margin-left: 10vw; */
    /* margin-right: 20vw; */
    width: 80vw;
    /* max-width: 80vw; */
    /* top: 100vh; */
    bottom: 0;
    left: 0;
    height: 2.5rem;
    min-height: 40;
    background-color: blue;
}

#gallery{
    padding: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    /* margin-right: 2vw; */
    width: fill;
    height: auto;
    max-height: 30vh;
    background-color: black;
    outline: auto;
    align-items: center;
    align-self: center;
}

#imgContainer{
    align-content: center;
    padding: 10px;
    height: auto;
    width: auto;
    max-width: fill;
    max-height: fill;
    /* margin-right: 2vw; */
    background-color: black;
    outline: auto;
    position: static;
}

#imgSelected{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 50vw;
}

#imgSelected_hid{
    visibility: hidden;
    height: 0;
    width: 0;
}

#vidSelected{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 50vh;
    width: 40vw;
    max-height: 50vh;
    max-width: 50vw;
}

#vidSelected_hid{
    visibility: hidden;
    height: 0;
    width: 0;
}

/* #vidSelected_hid{

} */

.project-img{
    /* position: relative; */
    /* display: block; */
    /* align-content: center; */
    padding: 10px;
    margin: auto;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 20vw;
    max-height: 20vh;
    /* position: static; */
}

.project-iframe{
    min-height: fit-content;
    min-width: fit-content;
}

p{
    display: inline-block;
}